h2 {
	font-size: 3em;
	margin: 0px;
	margin-top: 0.45em;
	margin-bottom: 0.45em;
  }
  .btn, nav {
	background-color:#33546b;
  }
.navbar-brand {
	color:white;
}
#correctorWrong {
	font-size: 25px;
}
